

@media screen and (min-width:100px) and (max-width:768px) {
	.product-img img {
		max-height:150px;
		min-height:150px;
	}
}

@media screen and (min-width:100px) and (max-width:480px) {
	.product-img img {
		max-height:120px;
		min-height:120px;
	}
}